@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(fonts/sDGTilo5QRsfWu6Yc11AXg.woff2) format('woff2'), url(fonts/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(fonts/0ihfXUL2emPh0ROJezvraFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(fonts/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(fonts/WB6rgjTg_oRfj6mlXZJbb_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(fonts/kbP_6ONYVgE-bLa9ZRbvvvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

body {
    margin: 40px 3%;
    font-family: Ubuntu;
    font-size: 1.4em;
}


@media (min-width: 1400px) {
    body {
        margin: 40px 6%;
        font-size: 1.6em;
    }
}

@media (min-width: 1921px) {
    body {
        margin: 40px 10%;
    }
}

h1.main-headline {
    font-size:1.6em;
    color: #3c546f;
    margin-bottom: 24px;
}

h1.main-headline b {
    font-size: 1.4em;
    margin-right: 12px;
}

h1.main-headline span {
    opacity: .4;
}

#info {
    position: absolute;
    width: 30%;
    top: 24px;
    right: 3%;
    min-height: 90%;
    background-color: rgba(60, 84, 111, 0.05);
    padding: 36px;
    line-height: 26px;
    color: #3c546f;
}

@media (max-width: 1500px) {
    #info {
        width: 100%;
        position: relative;
        left: 0px;
        top: 0px;
    }
}

.leftElement {
    width: 68%;
}

@media (max-width: 1500px) {
    .leftElement {
        width: 100%;
    }
}

#newsmlPayload {
    width: 100%;
    height: 400px;
    transition: 1s;
    transition-property: height;
    background-color: #F5F5F5;
    border: solid #CCC 1px;
    padding: 12px 12px 1px 12px;
    margin-bottom: 6px;
}

.active #newsmlPayload {
    height: 80px;
    transition: 1s;
    transition-property: height;
    color: #888;
}

#expandPayloadLink {
    display: block;
    visibility: hidden;
    opacity: 0;
    float: right;
    text-align: right;
    transition: 1s;
}

.active #expandPayloadLink {
    visibility: visible;
    transition: 1s;
    transition-property: opacity;
    opacity: 1;
}

#submitValidation {
    width: 200px;
    height: 40px;
}

#submitValidation.disabled {
   opacity: .4;
}

#clearForm {
    width: 120px;
    height: 40px;
}

#intro {
    margin: 3px 0 24px 0;
}


#intro a {
    font-size: 1.1em;
    text-decoration: underline;
}

.validationResults {
    margin: 12px 0;
    background-color: rgba(60, 84, 111, 0.05);
    padding: 28px;
}

.validationResults.inactive {
    display: none;
}

.validationResult {
    margin: 6px 0 36px 0;
    line-height: 2em;
}

.validationResult b {
    margin-right: 12px;
    font-weight: normal;
    color: #3c546f;

}

.validationResult .message {
    font-size: 1.2em;
}

.loader {
    width:64px;
    height: 64px;
    background-image: url("gfx/loader.gif");
    background-size: contain;
    float: left;
    margin: 0 12px 6px 0;
}

.validationResult .status {
    color: green;
}

.validationResult .status.invalid {
    color: #c50000;
}

.validationInfo {
    padding: 6px;
    font-style: italic;
    color: #888;
}

.validationResult .error {
    margin: 12px 0 0 12px;
    padding: 6px;
    background-color: #f2e3e6;
}

.validationResult .error code {
    font-size: .95em;
    background-color: #f9f2f4;
    color: #ae2146;
}



.validationResult .error > div {
    margin: 0 0 3px 0;

}

.validationResult .error .key {
    font-weight: bold;
    margin-right: 6px;
}

.resicon {
    width: 64px;
    height: 64px;
    background-size: contain;
    float: left;
    margin: 0 12px 6px 0;
}

.resicon.passed {
    background-image: url("gfx/done.png");
}

.resicon.failed {
    background-image: url("gfx/error.png");
}
